* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #F5F4F0;
    margin-top: 88px;
    margin-bottom: 88px;
    margin-left: 80px;
    margin-right: 80px;
}

.linha-divisoria {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }

img {
    border-radius: 28px;  /* Adicionar o arredondamento da borda */
    width: 100%; /* imagem ocupa 100% do tamanho disponível pra ela */
}

h1 {
    font: bold 36px "Open Sans", sans-serif;
    color: #1B1B1B;
}

h4 {
    font: bold 16px "Open Sans", sans-serif;
    color: #E95E10;
}

h2 {
    font: bold 32px "Open Sans", sans-serif;
    color: #1B1B1B;
}

h3 {
    font: bold 28px "Open Sans", sans-serif;
    color: #1B1B1B;
}

p {
    font:16px "Open Sans", sans-serif;
    color: #333333;
}

.subtitle {
    margin-top: 24px;
    font: italic  16px "Open Sans", sans-serif;
    text-align: center;
    color: #1B1B1B; /* Ajuste a cor conforme o design */
}

#destaque {
    color: #1B1B1B;
    font-weight: bold;
}

.dest-lista{
    color: #0C51A7;
    font-weight: bold;
    font-size: 16px;
}

.dest-lista1{
    color: #591B98;
    font-weight: bold;
    font-size: 16px;   
}

.dest-lista2{
    color: #e5245e;
    font-weight: bold;
    font-size: 16px;   
}

.dest-lista3{
    color: #E95E10;
    font-weight: bold;
    font-size: 16px;   
}

ul li::marker {
    color: #333333;
}

ul {
    padding-left: 23px;
}